.App-main {
  background-color: lightslategray;
  height: 100vh;
  width: 100vw;
  /* ----For Children---- */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/*---------- header ---------- */
.header-wrapper {
  background-color: grey;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content {
  border: 1px solid white;
  height: 100px;
  max-width: 1080px;
  width: 100vw;
  /* ----For Children---- */
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header-image {
  height: 80px;
  width: 80px;
}

/*---------- main ---------- */
.main-wrapper {
  background-color: transparent;
  height: auto;
  max-width: 1080px;
  width: 100vw;
  /* ----For Children---- */
  display: flex;
  justify-content: space-between;
}


/*----------EventList Family--------- */
.EventList-main {
  border: 1px solid white;
  /* background-color: lime; */
  height: auto;
  width: 60%;
  padding: 20px;
  /* ----For Children---- */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.EventCard-main {
  background-color: grey;
  height: 250px;
  width: 95%;
  margin-bottom: 20px;
}

.card-header {
  height: 20px;
  width: 100%;
  border: 1px solid black;
  /* ----For Children---- */
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardInfo-main {
  border: 1px solid black;
  height: 230px;
  width: 55%;
  /* ----For Children---- */
  display: flex;
  flex-direction: column;
}

.card-body {
/* ----For Children---- */
display: flex;
}

.box-title {
  width: 100%;
  font-size: 1rem;
  text-decoration: underline;
  text-align: center;
}

.camera-info {
  border: 1px solid black;
  height: 50%;
  width: 100%;
  /* ----For Children---- */
  display: flex;
}

.event-info {
  border: 1px solid black;
  height: 50%;
  width: 100%;
  /* ----For Children---- */
  display: flex;
}

.info-line-pairs {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  /* ----For Children---- */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info {
  border: 1px solid white;
  height: 20%;
  width: 50%;
}

.EventImage-main {
  border: 1px solid black;
  height: 230px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
}

/*----------Editor Family--------- */
.Editor-main {
  border: 1px solid white;
  /* background-color: red; */
  height: auto;
  width: 40%;
  padding-top: 20px;
  /* ----For Children---- */
  display: flex;
  justify-content: center;
}

.EditEvent-main {
  background-color: grey;
  border: 1px solid white;
  height: 1000px;
  width: 95%;
}

/* Editor Header and Image have properties from Card */

.editor-body {
  /* background-color: aqua; */
  width: 100%;
  height: auto;
  /* ----For Children---- */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-container {
  /* background-color: blueviolet; */
  height: 50px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.editor-buttons {
  height: 30px;
  width: 60px;
}
