.App-main {
  background-color: lightslategray;
  height: 100vh;
  width: 100vw;
  /* ----For Children---- */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/*---------- header ---------- */
.header-wrapper {
  background-color: grey;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content {
  border: 1px solid white;
  height: 100px;
  max-width: 1080px;
  width: 100vw;
  /* ----For Children---- */
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header-image {
  border: 1px solid white;
  height: 80px;
  width: 120px;
}

/*---------- main ---------- */
.main-wrapper {
  border: 1px solid white;
  background-color: transparent;
  height: 300vh;
  max-width: 1080px;
  width: 100vw;
  /* ----For Children---- */
  display: flex;
  justify-content: space-between;
}


/*----------EventList Family--------- */
.EventList-main {
  border: 1px solid white;
  /* background-color: lime; */
  height: 100%;
  width: 60%;
  /* ----For Children---- */
  display: flex;

}

.eventCard-main {
  background-color: wheat;
  height: 200px;
  width: 300px;
}


/*----------Editor Family--------- */
.Editor-main {
  border: 1px solid white;
  /* background-color: red; */
  height: 100%;
  width: 40%;
  /* ----For Children---- */
  display: flex;
}

